#check{
    width: 95%;
    margin: 10px auto;
    /* height: 350px; */
    background-color: #FFFFFF;
    padding: 20px;
    display: flex;
    flex-direction: column;
    font-size: small;
    border-radius: 8px;
    gap: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.check_name{
    width: 100%;
    height: 30px;
    /* background-color: blueviolet; */
    display: flex;
    justify-content: space-between;
    
}
#check_total{
    width: 100%;
    height: 60px;
    /* background-color: aqua; */
    display: flex;
}
#check_total>div:nth-child(1){
    width: 47%;
    height: 100%;
    align-items: center;
    /* background-color: brown; */
}