* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
#pop-up {
  position: absolute;
  margin-top: 16%;
  /* top: 50%; */
  left: 50%;
  transform: translate(-50%, -50%);
  /* width: 40%; */
  height: 620px;
  padding: 50px 50px 0px 50px;
  background: #fff;
  box-shadow: 2px 2px 5px 5px rgba(0 0 0 0.15);
  border-radius: 40px;
  border: 1px solid rgb(0, 0, 0);
  position: fixed;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
#pop-up .close-btn {
  position: absolute;
  font-size: 30px;
  font-weight: bold;
  top: 15px;
  right: 15px;
  width: 35px;
  height: 35px;
  color: rgb(73, 72, 72);
  text-align: center;
  line-height: 15px;
  border-radius: 15px;
  cursor: pointer;
}
.pop {
  
  padding: 0 0 0 41px;
  text-align: center;
}
.pop > h1 {
  
  font-size: 30px;
  font-weight: 700;
  font-family: "Overpass", sans-serif !important;
  color: #212121;
  margin-right: 7%;
}

#pink {
  font-weight: light;
  font-size: 13px;
  width: 300px;
  margin:0% 0% 0% 11%;
}
span {
  font-weight: 600;
}
#continue {
  margin-top: 20px;
  font-size: 20px;
  padding: 10px 20px;
  width: 80%;
  border-radius: 10px;
  background-color: #e0e1e3;
  color: rgb(249, 247, 247);
  border: none;
}
