#cartPay{
    background-color: rgb(255, 255, 255); 
    height: auto ;
    width: 95%;
    padding: 30px 20px 20px 40px;
    margin: 20px 0px 0px 40px;
    border-radius: 8px;
}
#Neu_money{
    background-color: rgb(255, 255, 255); 
    height: auto ;
    width: 95%;
    padding: 30px 20px 20px 40px;
    margin: 20px 0px 0px 40px;
    border-radius: 8px;
}